version: "2"

services:
  tron-zookeeper:
    container_name: "${ZOOKEEPER_NAME}"
    image: "docker.io/bitnami/zookeeper:3-debian-10"
    ports:
      - "${ZOO_PORT_NUMBER}:${ZOO_PORT_NUMBER}"
    restart: always
    volumes:
      - "./docker-volumes/tron-zookeeper:/bitnami/zookeeper"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOO_PORT_NUMBER
    depends_on:
      - permission-adapter
  tron-kafka:
    container_name: "${KAFKA_NAME}"
    image: "docker.io/bitnami/kafka:2-debian-10"
    ports:
      - "${KAFKA_CLIENT_PORT}:${KAFKA_CLIENT_PORT}"
      - "${KAFKA_EXTERNAL_PORT}:${KAFKA_EXTERNAL_PORT}"
    restart: always
    volumes:
      - "./docker-volumes/tron-kafka:/bitnami/kafka"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_LISTENERS
      - KAFKA_CFG_ADVERTISED_LISTENERS
      - KAFKA_INTER_BROKER_LISTENER_NAME=CLIENT
    depends_on:
      - tron-zookeeper
  tron-node:
    container_name: "${NODE_NAME}"
    build:
      context: https://github.com/pthor11/docker-java-tron.git
      args:
        - JAVA_TRON_VERSION
    #image: "docker.io/sunstake/java-tron"
    environment:
      - NETWORK
      - VM_MAX_TIME_RATIO=20.0
      - P2P_PORT=38888
      - FULL_NODE_PORT
      - SOLIDITY_NODE_PORT=8101
      - EVENT_PLUGIN_ENABLED=true
      - EVENT_PLUGIN_KAFKA_SERVER
      - EVENT_PLUGIN_BLOCK_TRIGGER_ENABLED=true
      - EVENT_PLUGIN_TRANSACTION_TRIGGER_ENABLED=true
      - EVENT_PLUGIN_CONTRACTEVENT_TRIGGER_ENABLED=true
    ports:
      - "${FULL_NODE_PORT}:${FULL_NODE_PORT}"
    restart: always
    volumes:
      - "./docker-volumes/tron-node:/data"
    depends_on:
      - tron-kafka
  permission-adapter:
    image: 'docker.io/bitnami/minideb'
    command: bash -c "chown -R 1001:1001 /tron-zookeeper /tron-kafka && chmod -R 775 /tron-zookeeper /tron-kafka"
    volumes:
      - './docker-volumes/tron-zookeeper:/tron-zookeeper'
      - './docker-volumes/tron-kafka:/tron-kafka'
      - './docker-volumes/tron-node:/tron-node'
      - './docker-volumes/backup:/backup'